.contacts-info {
  margin-top: 30px;
  margin-bottom: 100px;
}

.contacts-info__title {
  max-width: 996px;
  width: 100%;
  margin-top: 60px;
  font-weight: 400;
  line-height: 1.3;
  color: #0d0d0d;
  font-size: clamp(
    23px,
    calc((100vw - 360px) / (996 - 360) * (45 - 23) + 23px),
    55px
  );
}

.contacts-info__list {
  max-width: 996px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 10px;

  li {
    max-width: 472px;
    width: 100%;
  }
}

.contacts-info__list-text {
  font-weight: 400;
  font-size: 20px;
  color: #7b7b7b;
}

.contacts-info__list-desc {
  margin-top: 15px;
  font-weight: 400;
  font-size: 25px;
  color: #0d0d0d;
}

.contacts-form .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contacts-form__title {
  margin-top: 60px;
  max-width: 726px;
  width: 100%;
  font-size: clamp(
    23px,
    calc((100vw - 360px) / (1920 - 360) * (45 - 23) + 23px),
    45px
  );
  font-weight: 400;
  line-height: 1.3;
}

.contacts-form {
  background-color: #f9f9f9;
}

form {
  margin-top: 45px;
  max-width: 682px;
  width: 100%;
}

.contacts-button {
  background: #56cbd2;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  display: block;
  width: 100%;
  padding: 33px 0;
  border: none;
  margin-top: 35px;
  cursor: pointer;
}

.contacts-button:hover {
  background: #67dde4;
}

.contacts-input {
  margin-top: 40px;
  display: block;
  width: 100%;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid #989898;
  color: #989898;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.3;
  color: #0d0d0d;
}

.contacts-input::placeholder {
  color: #989898;
  font-size: 18px;
}

@media screen and (max-width: 1160px) {
  .contacts-form img {
    display: none;
  }

  .contacts-info {
    padding-top: 90px;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  form {
    width: 100%;
    max-width: 2000px;
    margin-top: 40px;
  }

  .contacts-info__title {
    max-width: 562px;
    margin-top: 10px;
  }

  .contacts-info__list {
    margin-top: 30px;
    gap: 30px;
  }

  .contacts-form {
    background-color: #fff;
  }

  .contacts-form__title {
    margin-top: 0;
    max-width: 491px;
  }

  .form-wrapper {
    flex-grow: 1;
  }
}

@media screen and (max-width: 768px) {
  .contacts-info {
    padding-top: 70px;
    margin-top: 20px;
    margin-bottom: 45px;
  }

  form {
    margin-top: 35px;
  }

  .contacts-info__title {
    max-width: 562px;
    margin-top: 25px;
  }

  .contacts-info__list {
    margin-top: 25px;
    gap: 20px;
  }

  .contacts-info__list-text {
    font-size: 16p302;
  }

  .contacts-info__list-desc {
    font-size: 20px;
    margin-top: 10px;
  }

  .contacts-form__title {
    margin-top: 0;
    max-width: 302px;
  }

  .contacts-input::placeholder {
    color: #989898;
    font-size: 14px;
  }

  .contacts-button {
    padding: 24px 0;
    font-size: 16px;
  }

  .checkbox-container {
    flex-wrap: wrap;
  }

  .checkbox-container a{
    padding-left: 30px;
  }
}
